
.bb-reiknivél{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/Reiknivel-HP.jpg);
}

.reiknivel-container{
    position: relative;

    margin-top: 2vw;
    margin-bottom: 2vw;
}

.einingar{

    margin: 0 auto;
    width: 60%;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15vh;
    text-decoration-style: solid;
    background: #CFD8DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.header-reiknivel{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 15vh;
}

.flokkur{
    margin-left: 2vw;
    margin-right: 2vw;
    justify-items: center;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 15vh;
    text-decoration: underline;
    text-decoration-style: solid;
    border-bottom: solid black 2px;

}
.flokkur2{
    margin-left: 2vw;
    margin-right: 2vw;
    justify-items: center;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 10vh;
    text-decoration-style: solid;
    border-bottom: solid black 2px;
    overflow: auto;
}
.flokkur3{
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
    overflow: hidden;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 5vh;
    text-decoration-style: solid;
    position: relative;
}

.items-reiknivel{
    position: relative;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 0vw;
    margin-bottom: 0vw;
    border-bottom: black solid 2px;
}

.texti-reiknivel{
    float: left;
    margin-left: 12vw;
}

.checkbox-kyn{
    /* width:30vw; */
    /* margin-left: 65vw; */
    /* float: right; */
    margin-right: 1%;
    float: right;
}

.svarbox{
    margin-right: 1%;
    float: right;
}

.select-option{
    width: 150px;
}


.texti-fæða{
    float: left;


}

.texti-einingar{

    margin: 0 auto;
    width: 120px;
}

.texti-magn{
    margin-right: 4%;
    float: right;
}

button{

    width: 211px;
    height: 60px;
    position: relative;

    background: rgba(207, 216, 221, 0.5);
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    
}
.btn-three {
    background: #FFFDE7;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition: 0.3s;
  }

.btn-three:hover{
    background: #faf6cd;
    text-decoration: underline;
    
}
  /* .btn-three::before {
    background: white;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    transition: all 0.3s;
  }
  .btn-three:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
  }
  .btn-three:hover::after {
    opacity: 1;
    transform: scale(1,1);
  } */

  @media only screen and (max-width:650px){
    .einingar{
        width: 90%;
    }
    .select-option{
        width: 60px;
    }
    .flokkur{
        font-size: 16px;
    }
    .flokkur2{
    font-size: 16px;
    }
    .flokkur3{
    font-size: 14px;
    }

  }

  @media only screen and (max-width:350px){
    .texti-einingar{

        margin: 0 auto;
        width: 80px;
    }
  }