.bb-meðhöndlun{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../images/medicine.jpeg);
}
.heading{
    margin-top: 30px;
    font-size: 25px;
    display: inline-block;
    top: 20vh;
    border-bottom: 2px solid black;
}

.lyfjamedferd-container{
    position: relative;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 2vw;
    margin-bottom: 2vw;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.lyfjamedferd-container h1{
    margin-top: 40px;
    text-align: center;
}

.lyfjamedferd-container p{
    font-size: 22px;
}

@media only screen and (max-width:650px){
    .lyfjamedferd-container p{
        font-size: 16px;
    }
}

.lyfjamedferd-undirflokkar{
    width: 300px;
    /* min-height: 80px; */
    line-height: 5vh;
    text-decoration-style: solid;
    background: #CFD8DD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.lyfjamedferd-undirflokkar ul{
    text-align: left;    
}

.lyfjamedferd-undirflokkar ul li{
    list-style-type:none;
    border-bottom: 1px solid white;
    transition: 0.3s;

}

.lyfjamedferd-undirflokkar ul li:hover{
    background: #74bfe8;
    cursor: pointer;
}


.lyfjamedferd-undirflokkar ul li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: 22px;
    padding-left: 5px;
    width: 100%;
}

.lyfjamedferd-texti-container{
    justify-content: center;
    width: 55%;
    padding-right: 20%;
}

.lyfjamedferd-texti{
    font-size: 22px;
    text-align: left;
}

.lyfjamedferd-texti p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}